<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <meta name="description" content="exec(ut) is a conference for and by IT students. Its fourth edition is taking place in 2021. Visit our website for tickets and more info.">
    <meta name="keywords" content="exec(ut), execut, execute, conference, congres, symposium, utrecht, studievereniging, sticky, stichting, it, tech, technology, software, student, students, computer, information, science, sciences">
    <meta name="author" content="exec(ut)">
    <link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu+Mono|Ubuntu" rel="stylesheet">

    <title>execut Summer Edition 2021</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ef4955">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ef4955">
    <meta property="og:image" content="/img/og-image.jpg">
    <meta property="og:image:width" content="1406">
    <meta property="og:image:height" content="736">
    <meta property="og:title" content="exec(ut) conference - June 7th, 2021">
    <meta property="og:description" content="exec(ut) is a conference for and by IT students. Its fourth edition is taking place in 2021. Visit our website for tickets and more info.">
    <meta property="og:url" content="https://www.execut.nl">
    <meta name="twitter:site" content="@execut_cc" />

    <!-- Some search and crawl stuff -->
    <meta name="google-site-verification" content="KGE99raqLM9lRy37vLwa2HGe1jnMLy5ExPrcHiL-31k" />
    <meta name="yandex-verification" content="393156b6561f6008" />
    <meta name="msvalidate.01" content="57FF189420E9813F4FA80953ACC2A600" />

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    <style type="text/css">
      html, body {
        background-color: #f7974d !important;
        font-family: "Lora", Georgia, serif;
      }
    </style>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">&nbsp;</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="lead">
          <img class="img-fluid" style="margin: 2em; max-width: 75%;" src="https://i.imgur.com/6k4T0l8.png" />
        </div>
        <p class="lead"><span style="font-family: 'Ubuntu Mono', 'Courier New', monospace; font-size: 1em;">exec(ut)</span> is back. We're organizing our first ever <span style="font-family: 'Ubuntu Mono', 'Courier New', monospace; font-size: 1em;">exec(ut)</span> Summer Edition on June 7th, 2021. Can't wait? Launch <span style="font-family: 'Ubuntu Mono', 'Courier New', monospace; font-size: 1em;">exec(ut)</span> Summer Edition together with us and some drinks on March 31st.</p>
        <p class="lead" style="font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
          <a href="https://instagram.com/execut_conference" class="btn btn-lg btn-secondary">Follow us on Instagram</a>
        </p>
      </main>

      <footer class="mt-auto">
        <div class="inner">
          <p>Click <u><a href="https://2020.execut.nl">here</a></u> for the archived website of exec(ut) 2020.</p>
        </div>
      </footer>
    </div>
  </body>
</html>


