{% extends "base.html" %}
{% block content %}
{% if page.is_two_column_page %}
  <div class="copy" id="two-column">
    <div class="column" id="main">
      {{ page.body|safe }}
    </div>
    <div class="column" id="side">
      {{ page.second_column_body|safe }}
    </div>
     {% if commissioners %}
      <br />
      <h1>The committee</h1>
      <div class="committee">
      {% for commissioner in commissioners %}
      <div>
        <div class="name"><a href="{{ commissioner.linkedin_page }}">{{ commissioner }}</a></div>
        <div class="role">{{ commissioner.role }}</div>
      </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="copy">
  {{ page.body|safe }}
  {% if commissioners %}
  <br />
  <h1>The committee</h1>
  <div class="committee">
  {% for commissioner in commissioners %}
  <div>
    <div class="name"><a href="{{ commissioner.linkedin_page }}">{{ commissioner }}</a></div>
    <div class="role">{{ commissioner.role }}</div>
  </div>
  {% endfor %}
  </div>
  {% endif %}
  {% if tickets %}
  <pretix-widget event="https://pretix.svsticky.nl/execut/2022/"></pretix-widget>
  <noscript>
     <div class="pretix-widget">
          <div class="pretix-widget-info-message">
              JavaScript is disabled in your browser. To access our ticket shop without JavaScript, please <a target="_blank" rel="noopener" href="https://pretix.svsticky.nl/execut/2022/">click here</a>.
          </div>
      </div>
  </noscript>
  {% endif %}
  </div>
{% endif %}
{% endblock %}