{% load static %}
<div id="footer">
            <div class="footer-column" id="social">
                <a href="https://www.instagram.com/execut_conference/" alt="Instagram page" target="_blank" rel="noopener"><img src="{% static 'public_static/insta.png' %}" class="socialmedia" alt="Instagram icon"></a>
                <a href="https://twitter.com/execut_cc" alt="Twitter page" target="_blank" rel="noopener"><img src="{% static 'public_static/twitter.png' %}" class="socialmedia" alt="Twitter icon"></a>
                <a href="https://www.youtube.com/channel/UCaUAV2Lp7Ph1MbzacOmHJ2w" alt="Youtube page" target="_blank" rel="noopener"><img src="{% static 'public_static/youtube.png' %}" class="socialmedia" alt="Youtube icon"></a>
                <a href="https://photos.app.goo.gl/VD6XzT9kraH1eWMa7" alt="Our photo gallery" target="_blank" rel="noopener"><img src="{% static 'public_static/photos.png' %}" class="socialmedia" alt="Gallery icon"></a>
                <a href="https://www.linkedin.com/company/14780930" alt="LinkedIn page" target="_blank" rel="noopener"><img src="{% static 'public_static/linkedin.png' %}" class="socialmedia" alt="LinkedIn icon"></a>
            </div>
                <div class="footer-column" id="copyright">
                <p><code>exec(ut)</code> is an event organised by <a href="https://stichtingsticky.nl/" alt="Stichting Sticky" target="_blank" rel="noopener">Stichting Sticky</a>.</br>All rights reserved.</p>
            </div>
                <div class="footer-column" id="coc">
                <p>Please take note of our</br><a href="{% static 'public_static/code-of-conduct.pdf' %}" alt="Our Code of Conduct" target="_blank">Code of Conduct</a>, <a href="{% static 'public_static/privacy-policy.pdf' %}" alt="Our Privacy Policy" target="_blank">Privacy Policy</a> and <a href="{% static 'public_static/general_terms.pdf' %}">General Terms (in Dutch)</a></p>
            </div>
        </div>
    </div></div>