{% extends "base.html" %}
{% block content %}
<div class="copy">
<div id="schedule">
      <h1>Programme</h1>
      <p>On {{ site.committee.event_day }} our venue will most likely host 4 consecutive speakers, each of whom will give a talk on a particular aspect of software and technology. The talks will be streamed from the Social Impact Factory to the Let's Get Digital platform.</p>
   
      {% if activities %}
      <div class="schedule-table">
      {% for activity in activities %}
          {% if activity.activity_kind == 'break' %}
            <div class="schedule-row organisational">
              <div><code>{{ activity.commences_at|time:"H:i" }}</code></div>
              <div>{{ activity.name }}</div>
            </div>
          {% else %}
             <div class="schedule-row">
              <div><code>{{ activity.commences_at|time:"H:i" }}</code></div>
              <div>
                {% for speaker in activity.speakers.all %}
                  <a href="{% url 'pages:single_speaker' speaker.id speaker|slugify %}">{{ speaker }}</a>
                {% endfor %}
              </div>
              <div>{{ activity.name }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% else %}
        <p>No activities were found for this event</p>
      {% endif %}

  <p><a href="{% url 'pages:single_sponsor' 4 'bpm-company' %}">Click here for more information about the workshop</a></p>
  <p>Short breaks (10 minutes) are provided between talks. We'll also be providing opportunities for speed dates with our partners, where you can expand your professional network.</p>


  </div>
</div>

{% endblock %}