{% extends "base.html" %}
{% block content %}
<div class="copy">
<div id="schedule">
      <h1>Programme</h1>
      <p>On {{ site.committee.event_day }} our venue will host 6 consecutive speakers, each of whom will give a talk on a particular aspect of software and technology. These talks will be held inside Flint.</p>
      <p>For the first time during a live exec(ut) we will host workshops throughout the day! More information about the topics, timeslots and enrollment will be announced shortly!</p>
   
      {% if activities %}
      <div class="schedule-table">
      {% for activity in activities %}
          {% if activity.activity_kind == 'break' %}
            <div class="schedule-row organisational">
              <div><code>{{ activity.commences_at|time:"H:i" }}</code></div>
              <div>{{ activity.name }}</div>
            </div>
          {% else %}
             <div class="schedule-row">
              <div><code>{{ activity.commences_at|time:"H:i" }}</code></div>
              <div>
                {% for speaker in activity.speakers.all %}
                  <a href="{% url 'pages:single_speaker' speaker.id speaker|slugify %}">{{ speaker }}</a>
                {% endfor %}
              </div>
              <div>{{ activity.name }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% else %}
        <p>No activities were found for this event</p>
      {% endif %}

  <p>Short breaks (10 minutes) are provided between talks. During the lunch and coffee break, we will provide some free time in which you can expand your professional network by meeting our partners!</p>
  </div>
</div>

{% endblock %}